Package: buildpy
Version: 0.0.0
Section: devel
Priority: optional
Maintainer: Blake Huber <blakeca00@gmail.com>
Bugs: ISSUES_URL
Installed-Size: 114 kB
Build-Depends: debhelper (>=9)
Depends:  DEPLIST
Download-Size: 40 kB
Standards-Version: 3.9.6
Homepage: PROJECT_URL
Architecture: amd64
Description: Instantly know status of the current git working branch
  .
  branchdiff (https://github.com/fstab50/branchdiff) is a utility for use with git version control.
  .
  The program:
  .
      * Illustrates differences between current working branch and master branch
      * Details when commits were made to the current branch, by whom
      * Provides summary statistics for all commits
  .
  Branchdiff resizes itself horizontally in an attempt to retain proper layout with different
  screen resolutions.  At extreme resolutions and screen width
